language: node_js
node_js:
- '10'
branches:
  only:
  - master
addons:
  ssh_known_hosts:
  - 118.24.15.224
script:
- npm run build
after_success:
- rsync -az --delete ./dist/* ubuntu@118.24.15.224:~/magix/
before_install:
- openssl aes-256-cbc -K $encrypted_3e18e6b84910_key -iv $encrypted_3e18e6b84910_iv
  -in id_rsa.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa